## Web Scraping Assignment 4

### Importing libraries

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver = webdriver.Chrome('chromedriver.exe')  #intiating the chrome

1. Scrape the details of most viewed videos on YouTube from Wikipedia.


Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos


You need to find following details:


A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [33]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)


rank=[]
name=[]
artist=[]
views=[]
upload=[]

for i in driver.find_elements_by_xpath('//table[3]//tbody//tr//td[1]'):
    rank.append(i.text)
    
for i in driver.find_elements_by_xpath('//table[3]//tbody//tr//td[2]'):
    name.append(i.text)
    
for i in driver.find_elements_by_xpath('//table[3]//tbody//tr//td[3]'):
    artist.append(i.text)
    
for i in driver.find_elements_by_xpath('//table[3]//tbody//tr//td[4]'):
    views.append(i.text)
    
for i in driver.find_elements_by_xpath('//table[3]//tbody//tr//td[5]'):
    upload.append(i.text)
    
    
que1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views(billions)':views,'Upload Date':upload})
que1

,Rank,Name,Artist,Views(billions),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.53,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.82,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.31,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.69,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.48,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.27,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.58,"March 6, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,4.56,"February 27, 2018"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.54,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.40,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,3.96,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.92,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.68,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.56,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.56,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.54,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.44,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.32,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.28,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.27,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.26,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.21,"July 25, 2012"
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,3.21,"June 25, 2018"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.19,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.19,"March 22, 2015"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.16,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.14,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.12,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.07,"June 29, 2017"

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
url='https://www.bcci.tv/'
driver.get(url)
driver.maximize_window()
time.sleep(3)

In [4]:
intn=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
intn.click()

In [6]:
title=[]
for i in driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]'):
    title.append(i.text)
    
series=[]
for i in driver.find_elements_by_xpath('//h5[@class="fix-text"]//span[@class="ng-binding"]'):
    series.append(i.text)
    
place=[]
for i in driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]'):
    place.append(i.text.split("-")[1])
    
date=[]
for i in driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]//h5'):
    date.append(i.text)
    
time=[]
for i in driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]//h5'):
    time.append(i.text)
    
que2=pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
que2

,Match Title,Series,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",9 JUN 2022,7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",12 JUN 2022,7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA,14 JUN 2022,7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,7:30 PM IST

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/


You need to find following details:
A) Name
B) Description


Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
url='https://www.guru99.com/'
driver.get(url)
time.sleep(3)

sel=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
sel.click()
time.sleep(3)

exp=driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]')
exp.click()

In [4]:
name=[]
for i in driver.find_elements_by_xpath('//table//tbody//tr//td[1]'):
    name.append(i.text)
    
des=[]
for i in driver.find_elements_by_xpath('//table//tbody//tr//td[2]'):
    des.append(i.text)
    
que3=pd.DataFrame({'Exception Name':name,'Exception Description':des})
que3

,Exception Name,Exception Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/


You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)


Note: - From statisticstimes home page you have to reach to economy page through code.

In [13]:
url='http://statisticstimes.com/'
driver.get(url)
time.sleep(3)
from selenium.webdriver.support.ui import Select

In [14]:
driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
driver.find_element_by_link_text('India').click()
try:
    add=driver.find_element_by_id("dismiss-button")
    add.click()
except:
    pass

In [17]:
gdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

rank=[]
for i in driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]'):
    rank.append(i.text)
    
state=[]
for i in driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]'):
    state.append(i.text)
    
gdp1=[]
for i in driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    gdp1.append(i.text)
    
gdp2=[]
for i in driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]'):
    gdp2.append(i.text)
    
share=[]
for i in driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]'):
    share.append(i.text)
    
gdpd=[]
for i in driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]'):
    gdpd.append(i.text)
    
que4=pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':gdp1,'GSDP(18-19)':gdp2,'Share(18-19)':share,'GDP($billion)':gdpd})
que4

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/


You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used


Note: - From the home page you have to click on the trending option from Explore menu through code.

In [36]:
url='https://github.com/'
driver.get(url)
driver.maximize_window()

In [38]:
driver.find_element_by_xpath('//li[@class="mr-0 mr-lg-3 position-relative flex-wrap flex-justify-between flex-items-center border-bottom border-lg-bottom-0 d-block d-lg-flex flex-lg-nowrap flex-lg-items-center"][4]').click()
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()

In [44]:
title=[]
des=[]
cont=[]
lang=[]
     
for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]'):
    title.append(i.text)

for i in driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    des.append(i.text)
        
for i in driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]'):
    lang.append(i.text)
       
des.insert(0,'Not Available')
lang.insert(3,'-')
lang.insert(15,'-')
lang.insert(22,'-')

que5=pd.DataFrame({'Title':title,'Description':des,'Language Used':lang})
que5

,Title,Description,Language Used
0,pyscript / pyscript,Not Available,JavaScript
1,Runc2333 / dingdong-helper-node,叮咚买菜助手，使用iOS客户端原生API，支持高峰期下单、支持捡漏、支持多账号、支持webh...,JavaScript
2,papers-we-love / papers-we-love,Papers from the computer science community to ...,Shell
3,jwasham / coding-interview-university,A complete computer science study plan to beco...,-
4,actualbudget / actual,A local-first personal finance system,JavaScript
5,actualbudget / actual-server,Actual's server,JavaScript
6,PacktPublishing / The-Kaggle-Book,"Code Repository for The Kaggle Book, Published...",Jupyter Notebook
7,withfig / autocomplete,Fig adds autocomplete to your terminal.,TypeScript
8,TeamNewPipe / NewPipe,A libre lightweight streaming front-end for An...,Java
9,appsmithorg / appsmith,"Low code project to build admin panels, intern...",TypeScript
10,anasty17 / mirror-leech-telegram-bot,Aria/qBittorrent Telegram mirror/leech bot,Python
11,Koko-boya / Grasscutter_Resources,Combined Resource Folder from Multiple Sources...,Lua
12,lucidrains / DALLE2-pytorch,"Implementation of DALL-E 2, OpenAI's updated t...",Python
13,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,TypeScript
14,Code-Bullet / Jump-King,play meeeeee,JavaScript
15,lukemurraynz / awesome-azure-architecture,AWESOME-Azure-Architecture,-
16,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,Python
17,yangshun / tech-interview-handbook,💯 Curated interview preparation materials for ...,JavaScript
18,ventoy / Ventoy,A new bootable USB solution.,C
19,github / docs,The open-source repo for docs.github.com,JavaScript
20,bitcoin / bitcoin,Bitcoin Core integration/staging tree,C++
21,StevenBlack / hosts,🔒 Consolidating and extending hosts files from...,Python
22,Wechat-ggGitHub / Awesome-GitHub-Repo,收集整理 GitHub 上高质量、有趣的开源项目。,-
23,Grasscutters / Grasscutter,A server software reimplementation for a certa...,Java
24,F4bwDP6a6W / FLY_US,美国大学备考资料 How to apply US colleges,HTML

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/


You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board



Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [23]:
url='https:/www.billboard.com/'
driver.get(url)
time.sleep(3)

In [24]:
hot100=driver.find_element_by_xpath('//ul//li[1]//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')
hot100.click()

In [36]:
song=[]
for i in driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    song.append(i.text)
for i in driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]'):
    song.insert(0,i.text)
    
singer=[]
for i in driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    singer.append(i.text)
for i in driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]'):
    singer.insert(0,i.text)
    
lastweek=[]
for i in driver.find_elements_by_xpath('//li[4][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
    lastweek.append(i.text)
for i in driver.find_elements_by_xpath('//li[4][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'):
    lastweek.insert(0,i.text)
    
peak=[]
for i in driver.find_elements_by_xpath('//li[5][@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]//span'):
    peak.append(i.text)

weak=[]
for i in driver.find_elements_by_xpath('//li[6][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span'):
    weak.append(i.text)
que6=pd.DataFrame({'Song Name':song,'Artist Name':singer,'Last week rank':lastweek,'Peak rank':peak,'Weeks on board':weak})
que6

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,As It Was,Harry Styles,2,1,3
1,First Class,Jack Harlow,1,1,2
2,Heat Waves,Glass Animals,3,1,66
3,Big Energy,Latto,4,3,26
4,Enemy,Imagine Dragons X JID,5,5,22
...,...,...,...,...,...
95,P Power,Gunna Featuring Drake,91,24,14
96,Money So Big,Yeat,-,95,4
97,Blick Blick!,Coi Leray & Nicki Minaj,95,37,4
98,Fall In Love,Bailey Zimmerman,-,99,1
99,X Ultima Vez,Daddy Yankee & Bad Bunny,99,73,3

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/


You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location


Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [21]:
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [22]:
inpu=driver.find_element_by_xpath('//input[@class="sugInp"]')
inpu.send_keys('Data Science')

search=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
search.click()

In [30]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
    name.append(i.text)

for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
    designation.append(i.text)

for i in driver.find_elements_by_xpath('//i[@class="cmpIcn"]'):
    company.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
    skills.append(i.text)

for i in driver.find_elements_by_xpath('//small[@class="ellipsis"]'):
    location.append(i.text)
location.insert(28,'-')
location.insert(48,'-')

In [35]:
que7=pd.DataFrame({'Name':name,'Designation':designation,'Comapny':company,'Skills':skills,'Location':location})
que7

,Name,Designation,Comapny,Skills,Location
0,Aakash Harit,HR Manager,,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,,Data Science,Chennai
7,Balu Ramesh,HR Administrator,,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,,"Web Technologies, Project Management, Software...",Delhi
30,Dhruv Dev Dubey,Company Recruitment Head,,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Avodha,Business Development Associate,,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
32,Jayanth N,Project Manager,,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Priya Khare,Senior Manager,,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
34,Ravi Dubey,Recruitment Manager,,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
35,Amit Sharma,Consultant,,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,,"Machine Learning, Data Science, Product Manage...",-
49,SREEDHAR,Recruitment Consultant,,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/


You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [3]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(3)

In [6]:
book=[]
for i in driver.find_elements_by_xpath('//tbody//tr//td[2]'):
    book.append(i.text)
    
author=[]
for i in driver.find_elements_by_xpath('//tbody//tr//td[3]'):
    author.append(i.text)
    
volume=[]
for i in driver.find_elements_by_xpath('//tbody//tr//td[4]'):
    volume.append(i.text)
    
publisher=[]
for i in driver.find_elements_by_xpath('//tbody//tr//td[5]'):
    publisher.append(i.text)
    
genre=[]
for i in driver.find_elements_by_xpath('//tbody//tr//td[6]'):
    genre.append(i.text)
    
que8=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sales':volume,'Publisher':publisher,'Genre':genre})
que8

,Book Name,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/


You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [5]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [17]:
name=[]
for i in driver.find_elements_by_xpath('//h3//a'):
    name.append(i.text)

year=[]
for i in driver.find_elements_by_xpath('//h3//span[@class="lister-item-year text-muted unbold"]'):
    year.append(i.text)
    
genre=[]
for i in driver.find_elements_by_xpath('//p//span[@class="genre"]'):
    genre.append(i.text)
    
runtime=[]
for i in driver.find_elements_by_xpath('//p//span[@class="runtime"]'):
    runtime.append(i.text)
    
rating=[]
for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]//span[@class="ipl-rating-star__rating"]'):
    rating.append(i.text)
    
vote=[]
for i in driver.find_elements_by_xpath('//span[@name="nv"]'):
    vote.append(i.text)
    
que9=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Runtime':runtime,'Rating':rating,'Votes':vote})
que9

,Name,Year Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,978,305"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"983,979"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"942,968"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"281,722"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,680"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,474"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,102"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"188,451"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,954"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"225,921"

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/


You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year


Note: - from the home page you have to go to the ShowAllDataset page through code.

In [7]:
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(3)

In [9]:
all=driver.find_element_by_xpath('//span[@class="whitetext"]//b')
all.click()

In [25]:
name=[]
for i in driver.find_elements_by_xpath('//b//a'):
    name.append(i.text)
    
tyep=[]
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]'):
    tyep.append(i.text)
tyep.pop(0)

task=[]
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]'):
    task.append(i.text)
task.pop(0)

att_type=[]
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]'):
    att_type.append(i.text)
att_type.pop(0)

inst=[]
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]'):
    inst.append(i.text)
inst.pop(0)

att=[]
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]'):
    att.append(i.text)
att.pop(0)

year=[]
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]'):
    year.append(i.text)
year.pop(0)

que10=pd.DataFrame({'Name':name,'Data Type':tyep,'Default Task':task,'Attribute Type':att_type,'Instances':inst,'Attributes':att,'Year':year})
que10

,Name,Data Type,Default Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021